@font-face {
  font-family: FontName;
  src: url("path/filename.eot");
  src: url("path/filename.eot?#iefix") format("embedded-opentype"),
    url("path/filename.woff2") format("woff2"),
    url("path/filename.woff") format("woff"),
    url("path/filename.ttf") format("truetype");
}

@import url("https://fonts.cdnfonts.com/css/bai-jamjuree");
@import url("https://fonts.cdnfonts.com/css/montserrat");

body {
  background-image: url("img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1920px;
  padding: 100px 120px;
}

.mainLogo {
  align-items: center;
  justify-content: center;
  display: flex;
}

.mainTitle {
  gap: 50px;
  margin-top: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mainTitle h1 {
  color: #000000;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  @media (max-width: 540px) {
    font-size: 22px;
    text-align: center;
  }
}

.mainTitle span {
  color: #ef16f3;
  font-size: 105px;
  text-transform: uppercase;
  font-family: "Bai Jamjuree SemiBold", semi-bold;
}

.mainTitle p {
  color: #000000;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.data {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.mainTitle a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.sendButton a {
  color: #50b313;
  font-weight: 600;
}

.sendButton:hover a {
  color: #f112f6;
}

.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  border: 2px solid #50b313;
  color: #50b313;
  border-radius: 50px;
  font-size: 19px;
  padding: 15px;
  width: 310px;
  background-color: transparent;
}

.sendButton:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.3s easy;
  font-weight: 500;
  border: 2px solid #f112f6;
  color: #f112f6;
  border-radius: 50px;
  font-size: 19px;
  padding: 15px;
  height: 70px;
  width: 330px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
}
