.logo {
  text-align: center;
  margin-top: 95px;
 }

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 45px;
  font-size: 19px;
  font-weight: 50;
  font-family: 'Verdana';
  letter-spacing: 9px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 45px;
  font-size: 88px;
  font-weight: bold;
  font-family: 'Rleud Black';
  color:#FD79FD;
 }

body {
  color:#000000;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
}


li
{
  margin-bottom: 10px;
}

main {
  width: 900px;
  margin: auto;
}
