@font-face {
  font-family: FontName;
  src: url('path/filename.eot');
  src: url('path/filename.eot?#iefix') format('embedded-opentype'),
    url('path/filename.woff2') format('woff2'), 
    url('path/filename.woff') format('woff'),
    url('path/filename.ttf') format('truetype');
}

.container {
  max-width: 1920px;
  padding: 100px 120px;
}

.mainLogo {
  align-items: center;
  justify-content: center;
  display: flex;
}

.mainTitle {
  gap: 50px;
  margin-top: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mainTitle h1 {
  font-size: 19px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: 'Comfortaa';
}

.mainTitle span {
  color:#EF16F3;
  font-size: 105px;
  text-transform: uppercase;
  font-family: 'Bai Jamjuree SemiBold', serif;
}

.mainTitle p {
  color:#363636;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 17px;
  text-align: center;
  font-family: 'Comfortaa';
}

.mainTitle a {
  text-decoration: none;
}

.mainTitle a:after {
padding-left: 5px; /* Расстояние от иконки до текста */
vertical-align: text-bottom; /* Выравнивание по вертикали */
font-size: 0.8em; /* Размер иконки */
}

.mainTitle button {
  margin: 0 auto;
  display: block;
  border: 2px solid #50b313;
  color: #50b313;
  border-radius: 50px;
  font-size: 28px;
  padding: 20px;
  width: 310px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
}
