
@font-face {
  font-family: FontName;
  src: url('path/filename.eot');
  src: url('path/filename.eot?#iefix') format('embedded-opentype'),
    url('path/filename.woff2') format('woff2'), 
    url('path/filename.woff') format('woff'),
    url('path/filename.ttf') format('truetype');
}

.logo {
  text-align: center;
  margin-top: 95px;
 }

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 45px;
  font-size: 21px;
  font-weight: 20;
  font-family: 'Comfortaa', sans-serif;
  letter-spacing: 8px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 45px;
  font-size: 105px;
  font-family: 'Bai Jamjuree SemiBold', sans-serif;
  color:#EF16F3;
 }

body {
  color:#000000;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
}


li
{
  margin-bottom: 10px;
}

main {
  width: 900px;
  margin: auto;
}
