{
	margin: 0;
	padding: 0;
}
 
h1, h2, h3, h4, h5, h6, p { margin-top: 0; }
 
fieldset,img { border: 0; }
 
legend { color: #000; }
 
li { list-style: none; }
 
sup { vertical-align: text-top; }
 
sub { vertical-align: text-bottom; }
 
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
 
caption, th, td
{
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}
 
input, textarea, select
{
	font-size: 110%;
	line-height: 1.1;
}
 
abbr, acronym
{
	border-bottom: .1em dotted;
	cursor: help;
}

.logo {
  text-align: center;
  margin-top: 95px;
 }

body {
  color:#333;
  margin: 0;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 60px;
  text-align: center;
}

h2 {
  margin-top: 0;
  padding-bottom: 30px;
  font-size: 25px;
  text-align: center;
  border-bottom: 2px solid #e3e3e3;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
}

section h2 {
  padding: 0;
  text-align: left;
  border: none;
}

li
{
  margin-bottom: 10px;
}

main {
  width: 900px;
  margin: auto;
}
